# NO 1
Sebagai tim data, memahami dasar-dasar pemrograman Python sangatlah penting, terutama saat kita mengolah dan membersihkan data. Dalam tugas kelompok ini, kita akan menggunakan Python untuk menganalisis data diri kita sendiri dan teman-teman sekelompok.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_19 = pd.read_excel(r"/content/DATA ANGGOTA KOMPI 19.xlsx")
df_19

,No. Peserta,Nama,Jurusan,Berat Badan (Kg),Tinggi Badan (Cm)
0,SC61901,Akmal Fa'iq Naufal,Teknik Elektro,60,175
1,SC61902,Atthaya Layla Zhafira Hilwana,Bisnis Digital,52,168
2,SC61903,Dicky Fadhillah Herlambang,Fisika,64,165
3,SC61904,Firda Kusumawardhani Hillal,Teknologi Informasi,49,152
4,SC61905,Irsyad Daffa Armmawadin,Manajemen,75,178
5,SC61906,Marcela Anggi Puspitasari,Akuntansi,48,154
6,SC61907,Aulia Putri,Informatika,42,155
7,SC61908,Ni Kadek Fortuna Dewi,Matematika,45,158
8,SC61909,Rahma Aulia Agustari,Akuntansi,42,159
9,SC61910,Shania Maharani,Akuntansi,48,156
10,SC61911,Muhammad Firzal Anugerah Perdana,Informatika,55,167
11,SC61912,Anis Naila Mashurrin,Matematika,48,160
12,SC61913,Diva Nabila Herisnan,Teknik Informatika,62,172
13,SC61914,I Made Surya Adi Palguna,Informatika,105,180
14,SC61915,Made Bayu Maha Krisna Siaka,Informatika,82,172
15,SC61916,Nabila Sukma Mardeny,Sistem Informasi Kelautan,53,158
16,SC61917,Rainata Maharani,Pendidikan Akuntansi,50,162
17,SC61918,Valentin Asman Lestari,Statistika,59,160
18,SC61919,Amin Fauzan,Kesehatan Masyarakat,70,175
19,SC61920,Calvin Adiwinata,Teknik Informatika,53,162
20,SC61921,Fitri Novita Sari,Matematika,60,160
21,SC61922,Masayu Rizka Arfiyunia,Sistem Informasi,75,170
22,SC61923,Niswah Nasyithah,Informatika,40,153
23,SC61924,Sintiya Ristiyani,Sains Data,48,158
24,SC61925,Zamzammaimatul Zalfa Laila,Matematika,48,165

### 1.1
Identifikasi dan jelaskan tipe data apa saja yang ada pada dataframe, ada berapa kolom dan baris, serta informasi apa saja yang terkandung dalam data tersebut?

In [ ]:
df_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   No. Peserta        25 non-null     object
 1   Nama               25 non-null     object
 2   Jurusan            25 non-null     object
 3   Berat Badan (Kg)   25 non-null     int64
 4   Tinggi Badan (Cm)  25 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1.1+ KB

In [ ]:
#mencari jumlah kolom dan baris
df_19.shape

(25, 5)

In [ ]:
#informasi kolom

## No. Peserta -> no peserta anggota kompi19
## Nama        -> nama lengkap anggota kompi19
## Jurusan     -> jurusan / prodi anggota kompi19
## berat badan -> berat badan anggota kompi 19 dalam satuan Kg
## tinggi badan -> tinggi badan anggota kompi 19 dalam satuan Cm

### 1.2
Hitunglah BMI setiap siswa dengan rumus
BMI = Berat badan (kg) / (Tinggi badan (m)**2)

In [ ]:
df_19['Berat Badan (Kg)']/np.power((df_19['Tinggi Badan (Cm)']/100),2)

0     19.591837
1     18.424036
2     23.507805
3     21.208449
4     23.671254
5     20.239501
6     17.481790
7     18.025957
8     16.613267
9     19.723866
10    19.721037
11    18.750000
12    20.957274
13    32.407407
14    27.717685
15    21.230572
16    19.051974
17    23.046875
18    22.857143
19    20.195092
20    23.437500
21    25.951557
22    17.087445
23    19.227688
24    17.630854
dtype: float64

### 1.3
Buatlah program untuk menghitung BMI

In [ ]:
#program menghitung BMI
def hitung_bmi(bmi):
    if bmi < 18.5 :
        return 'underweight'
    elif bmi < 25:
        return 'normal'
    elif bmi < 30:
        return 'overweight'
    else:
        return 'obesity'

### 1.4
Update dataframe df dengan menambahkan hasil perhitungan soal nomor 2, beri nama kolom BMI

In [ ]:
df_19['bmi'] = df_19['Berat Badan (Kg)']/np.power((df_19['Tinggi Badan (Cm)']/100),2)
df_19

,No. Peserta,Nama,Jurusan,Berat Badan (Kg),Tinggi Badan (Cm),bmi
0,SC61901,Akmal Fa'iq Naufal,Teknik Elektro,60,175,19.591837
1,SC61902,Atthaya Layla Zhafira Hilwana,Bisnis Digital,52,168,18.424036
2,SC61903,Dicky Fadhillah Herlambang,Fisika,64,165,23.507805
3,SC61904,Firda Kusumawardhani Hillal,Teknologi Informasi,49,152,21.208449
4,SC61905,Irsyad Daffa Armmawadin,Manajemen,75,178,23.671254
5,SC61906,Marcela Anggi Puspitasari,Akuntansi,48,154,20.239501
6,SC61907,Aulia Putri,Informatika,42,155,17.481790
7,SC61908,Ni Kadek Fortuna Dewi,Matematika,45,158,18.025957
8,SC61909,Rahma Aulia Agustari,Akuntansi,42,159,16.613267
9,SC61910,Shania Maharani,Akuntansi,48,156,19.723866
10,SC61911,Muhammad Firzal Anugerah Perdana,Informatika,55,167,19.721037
11,SC61912,Anis Naila Mashurrin,Matematika,48,160,18.750000
12,SC61913,Diva Nabila Herisnan,Teknik Informatika,62,172,20.957274
13,SC61914,I Made Surya Adi Palguna,Informatika,105,180,32.407407
14,SC61915,Made Bayu Maha Krisna Siaka,Informatika,82,172,27.717685
15,SC61916,Nabila Sukma Mardeny,Sistem Informasi Kelautan,53,158,21.230572
16,SC61917,Rainata Maharani,Pendidikan Akuntansi,50,162,19.051974
17,SC61918,Valentin Asman Lestari,Statistika,59,160,23.046875
18,SC61919,Amin Fauzan,Kesehatan Masyarakat,70,175,22.857143
19,SC61920,Calvin Adiwinata,Teknik Informatika,53,162,20.195092
20,SC61921,Fitri Novita Sari,Matematika,60,160,23.437500
21,SC61922,Masayu Rizka Arfiyunia,Sistem Informasi,75,170,25.951557
22,SC61923,Niswah Nasyithah,Informatika,40,153,17.087445
23,SC61924,Sintiya Ristiyani,Sains Data,48,158,19.227688
24,SC61925,Zamzammaimatul Zalfa Laila,Matematika,48,165,17.630854

### 1.5
Buatlah status BMI untuk setiap siswa dari kategori berikut, lalu simpan data statusnya dengan kolom status BMI

Normal: 18.5-24.9  
Overweight: 25.0-29.9  
Obesity: 30.0-34.9  
Underweight: < 18.5

In [ ]:
# Buat kolom baru 'Status BMI' dengan menggunakan fungsi kategori_bmi
df_19['Status BMI'] = df_19['bmi'].apply(hitung_bmi)

# Cetak DataFrame untuk memeriksa hasilnya
df_19

,No. Peserta,Nama,Jurusan,Berat Badan (Kg),Tinggi Badan (Cm),bmi,Status BMI
0,SC61901,Akmal Fa'iq Naufal,Teknik Elektro,60,175,19.591837,normal
1,SC61902,Atthaya Layla Zhafira Hilwana,Bisnis Digital,52,168,18.424036,underweight
2,SC61903,Dicky Fadhillah Herlambang,Fisika,64,165,23.507805,normal
3,SC61904,Firda Kusumawardhani Hillal,Teknologi Informasi,49,152,21.208449,normal
4,SC61905,Irsyad Daffa Armmawadin,Manajemen,75,178,23.671254,normal
5,SC61906,Marcela Anggi Puspitasari,Akuntansi,48,154,20.239501,normal
6,SC61907,Aulia Putri,Informatika,42,155,17.481790,underweight
7,SC61908,Ni Kadek Fortuna Dewi,Matematika,45,158,18.025957,underweight
8,SC61909,Rahma Aulia Agustari,Akuntansi,42,159,16.613267,underweight
9,SC61910,Shania Maharani,Akuntansi,48,156,19.723866,normal
10,SC61911,Muhammad Firzal Anugerah Perdana,Informatika,55,167,19.721037,normal
11,SC61912,Anis Naila Mashurrin,Matematika,48,160,18.750000,normal
12,SC61913,Diva Nabila Herisnan,Teknik Informatika,62,172,20.957274,normal
13,SC61914,I Made Surya Adi Palguna,Informatika,105,180,32.407407,obesity
14,SC61915,Made Bayu Maha Krisna Siaka,Informatika,82,172,27.717685,overweight
15,SC61916,Nabila Sukma Mardeny,Sistem Informasi Kelautan,53,158,21.230572,normal
16,SC61917,Rainata Maharani,Pendidikan Akuntansi,50,162,19.051974,normal
17,SC61918,Valentin Asman Lestari,Statistika,59,160,23.046875,normal
18,SC61919,Amin Fauzan,Kesehatan Masyarakat,70,175,22.857143,normal
19,SC61920,Calvin Adiwinata,Teknik Informatika,53,162,20.195092,normal
20,SC61921,Fitri Novita Sari,Matematika,60,160,23.437500,normal
21,SC61922,Masayu Rizka Arfiyunia,Sistem Informasi,75,170,25.951557,overweight
22,SC61923,Niswah Nasyithah,Informatika,40,153,17.087445,underweight
23,SC61924,Sintiya Ristiyani,Sains Data,48,158,19.227688,normal
24,SC61925,Zamzammaimatul Zalfa Laila,Matematika,48,165,17.630854,underweight

### 1.6
a. Buatlah variabel baru lalu urutkan data berdasarkan tinggi badan dari yang tertinggi ke terendah

In [ ]:
# Mengurutkan data berdasarkan tinggi badan dari yang tertinggi ke terendah
df_19_urut = df_19.sort_values(by='Tinggi Badan (Cm)', ascending=False)

# Cetak DataFrame yang sudah diurutkan
df_19_urut

,No. Peserta,Nama,Jurusan,Berat Badan (Kg),Tinggi Badan (Cm),bmi,Status BMI
13,SC61914,I Made Surya Adi Palguna,Informatika,105,180,32.407407,obesity
4,SC61905,Irsyad Daffa Armmawadin,Manajemen,75,178,23.671254,normal
0,SC61901,Akmal Fa'iq Naufal,Teknik Elektro,60,175,19.591837,normal
18,SC61919,Amin Fauzan,Kesehatan Masyarakat,70,175,22.857143,normal
14,SC61915,Made Bayu Maha Krisna Siaka,Informatika,82,172,27.717685,overweight
12,SC61913,Diva Nabila Herisnan,Teknik Informatika,62,172,20.957274,normal
21,SC61922,Masayu Rizka Arfiyunia,Sistem Informasi,75,170,25.951557,overweight
1,SC61902,Atthaya Layla Zhafira Hilwana,Bisnis Digital,52,168,18.424036,underweight
10,SC61911,Muhammad Firzal Anugerah Perdana,Informatika,55,167,19.721037,normal
24,SC61925,Zamzammaimatul Zalfa Laila,Matematika,48,165,17.630854,underweight
2,SC61903,Dicky Fadhillah Herlambang,Fisika,64,165,23.507805,normal
19,SC61920,Calvin Adiwinata,Teknik Informatika,53,162,20.195092,normal
16,SC61917,Rainata Maharani,Pendidikan Akuntansi,50,162,19.051974,normal
11,SC61912,Anis Naila Mashurrin,Matematika,48,160,18.750000,normal
20,SC61921,Fitri Novita Sari,Matematika,60,160,23.437500,normal
17,SC61918,Valentin Asman Lestari,Statistika,59,160,23.046875,normal
8,SC61909,Rahma Aulia Agustari,Akuntansi,42,159,16.613267,underweight
23,SC61924,Sintiya Ristiyani,Sains Data,48,158,19.227688,normal
15,SC61916,Nabila Sukma Mardeny,Sistem Informasi Kelautan,53,158,21.230572,normal
7,SC61908,Ni Kadek Fortuna Dewi,Matematika,45,158,18.025957,underweight
9,SC61910,Shania Maharani,Akuntansi,48,156,19.723866,normal
6,SC61907,Aulia Putri,Informatika,42,155,17.481790,underweight
5,SC61906,Marcela Anggi Puspitasari,Akuntansi,48,154,20.239501,normal
22,SC61923,Niswah Nasyithah,Informatika,40,153,17.087445,underweight
3,SC61904,Firda Kusumawardhani Hillal,Teknologi Informasi,49,152,21.208449,normal

b. Buat variabel baru lalu urutkan data berdasarkan Nama dari A-Z

In [ ]:
# Mengurutkan data berdasarkan Nama dari A-Z
df_19_sorted = df_19.sort_values(by='Nama')

# Cetak DataFrame yang sudah diurutkan
df_19_sorted

,No. Peserta,Nama,Jurusan,Berat Badan (Kg),Tinggi Badan (Cm),bmi,Status BMI
0,SC61901,Akmal Fa'iq Naufal,Teknik Elektro,60,175,19.591837,normal
18,SC61919,Amin Fauzan,Kesehatan Masyarakat,70,175,22.857143,normal
11,SC61912,Anis Naila Mashurrin,Matematika,48,160,18.750000,normal
1,SC61902,Atthaya Layla Zhafira Hilwana,Bisnis Digital,52,168,18.424036,underweight
6,SC61907,Aulia Putri,Informatika,42,155,17.481790,underweight
19,SC61920,Calvin Adiwinata,Teknik Informatika,53,162,20.195092,normal
2,SC61903,Dicky Fadhillah Herlambang,Fisika,64,165,23.507805,normal
12,SC61913,Diva Nabila Herisnan,Teknik Informatika,62,172,20.957274,normal
3,SC61904,Firda Kusumawardhani Hillal,Teknologi Informasi,49,152,21.208449,normal
20,SC61921,Fitri Novita Sari,Matematika,60,160,23.437500,normal
13,SC61914,I Made Surya Adi Palguna,Informatika,105,180,32.407407,obesity
4,SC61905,Irsyad Daffa Armmawadin,Manajemen,75,178,23.671254,normal
14,SC61915,Made Bayu Maha Krisna Siaka,Informatika,82,172,27.717685,overweight
5,SC61906,Marcela Anggi Puspitasari,Akuntansi,48,154,20.239501,normal
21,SC61922,Masayu Rizka Arfiyunia,Sistem Informasi,75,170,25.951557,overweight
10,SC61911,Muhammad Firzal Anugerah Perdana,Informatika,55,167,19.721037,normal
15,SC61916,Nabila Sukma Mardeny,Sistem Informasi Kelautan,53,158,21.230572,normal
7,SC61908,Ni Kadek Fortuna Dewi,Matematika,45,158,18.025957,underweight
22,SC61923,Niswah Nasyithah,Informatika,40,153,17.087445,underweight
8,SC61909,Rahma Aulia Agustari,Akuntansi,42,159,16.613267,underweight
16,SC61917,Rainata Maharani,Pendidikan Akuntansi,50,162,19.051974,normal
9,SC61910,Shania Maharani,Akuntansi,48,156,19.723866,normal
23,SC61924,Sintiya Ristiyani,Sains Data,48,158,19.227688,normal
17,SC61918,Valentin Asman Lestari,Statistika,59,160,23.046875,normal
24,SC61925,Zamzammaimatul Zalfa Laila,Matematika,48,165,17.630854,underweight

### 1.7
Filter dataframe df berdasarkan:  
a. Status BMI di luar Normal.

In [ ]:
# Filter DataFrame berdasarkan Status BMI di luar Normal
df_19_filtered = df_19[df_19['Status BMI'] != 'Normal']

# Cetak DataFrame yang sudah difilter
df_19_filtered

,No. Peserta,Nama,Jurusan,Berat Badan (Kg),Tinggi Badan (Cm),bmi,Status BMI
0,SC61901,Akmal Fa'iq Naufal,Teknik Elektro,60,175,19.591837,normal
1,SC61902,Atthaya Layla Zhafira Hilwana,Bisnis Digital,52,168,18.424036,underweight
2,SC61903,Dicky Fadhillah Herlambang,Fisika,64,165,23.507805,normal
3,SC61904,Firda Kusumawardhani Hillal,Teknologi Informasi,49,152,21.208449,normal
4,SC61905,Irsyad Daffa Armmawadin,Manajemen,75,178,23.671254,normal
5,SC61906,Marcela Anggi Puspitasari,Akuntansi,48,154,20.239501,normal
6,SC61907,Aulia Putri,Informatika,42,155,17.481790,underweight
7,SC61908,Ni Kadek Fortuna Dewi,Matematika,45,158,18.025957,underweight
8,SC61909,Rahma Aulia Agustari,Akuntansi,42,159,16.613267,underweight
9,SC61910,Shania Maharani,Akuntansi,48,156,19.723866,normal
10,SC61911,Muhammad Firzal Anugerah Perdana,Informatika,55,167,19.721037,normal
11,SC61912,Anis Naila Mashurrin,Matematika,48,160,18.750000,normal
12,SC61913,Diva Nabila Herisnan,Teknik Informatika,62,172,20.957274,normal
13,SC61914,I Made Surya Adi Palguna,Informatika,105,180,32.407407,obesity
14,SC61915,Made Bayu Maha Krisna Siaka,Informatika,82,172,27.717685,overweight
15,SC61916,Nabila Sukma Mardeny,Sistem Informasi Kelautan,53,158,21.230572,normal
16,SC61917,Rainata Maharani,Pendidikan Akuntansi,50,162,19.051974,normal
17,SC61918,Valentin Asman Lestari,Statistika,59,160,23.046875,normal
18,SC61919,Amin Fauzan,Kesehatan Masyarakat,70,175,22.857143,normal
19,SC61920,Calvin Adiwinata,Teknik Informatika,53,162,20.195092,normal
20,SC61921,Fitri Novita Sari,Matematika,60,160,23.437500,normal
21,SC61922,Masayu Rizka Arfiyunia,Sistem Informasi,75,170,25.951557,overweight
22,SC61923,Niswah Nasyithah,Informatika,40,153,17.087445,underweight
23,SC61924,Sintiya Ristiyani,Sains Data,48,158,19.227688,normal
24,SC61925,Zamzammaimatul Zalfa Laila,Matematika,48,165,17.630854,underweight

b. Tinggi Badan > 169 cm dan Berat Badan > 60 kg

In [ ]:
# Filter DataFrame berdasarkan Tinggi Badan > 169 cm dan Berat Badan > 60 kg
df_19_filtered = df_19[(df_19['Tinggi Badan (Cm)'] > 169) & (df_19['Berat Badan (Kg)'] > 60)]

# Cetak DataFrame yang sudah difilter
df_19_filtered

,No. Peserta,Nama,Jurusan,Berat Badan (Kg),Tinggi Badan (Cm),bmi,Status BMI
4,SC61905,Irsyad Daffa Armmawadin,Manajemen,75,178,23.671254,normal
12,SC61913,Diva Nabila Herisnan,Teknik Informatika,62,172,20.957274,normal
13,SC61914,I Made Surya Adi Palguna,Informatika,105,180,32.407407,obesity
14,SC61915,Made Bayu Maha Krisna Siaka,Informatika,82,172,27.717685,overweight
18,SC61919,Amin Fauzan,Kesehatan Masyarakat,70,175,22.857143,normal
21,SC61922,Masayu Rizka Arfiyunia,Sistem Informasi,75,170,25.951557,overweight

c. Nama yang mengandung huruf "y"

In [ ]:
# Filter DataFrame berdasarkan nama yang mengandung huruf "y"
df_19_filtered = df_19[df_19['Nama'].str.contains('y', case=False)]

# Cetak DataFrame yang sudah difilter
df_19_filtered

,No. Peserta,Nama,Jurusan,Berat Badan (Kg),Tinggi Badan (Cm),bmi,Status BMI
1,SC61902,Atthaya Layla Zhafira Hilwana,Bisnis Digital,52,168,18.424036,underweight
2,SC61903,Dicky Fadhillah Herlambang,Fisika,64,165,23.507805,normal
4,SC61905,Irsyad Daffa Armmawadin,Manajemen,75,178,23.671254,normal
13,SC61914,I Made Surya Adi Palguna,Informatika,105,180,32.407407,obesity
14,SC61915,Made Bayu Maha Krisna Siaka,Informatika,82,172,27.717685,overweight
15,SC61916,Nabila Sukma Mardeny,Sistem Informasi Kelautan,53,158,21.230572,normal
21,SC61922,Masayu Rizka Arfiyunia,Sistem Informasi,75,170,25.951557,overweight
22,SC61923,Niswah Nasyithah,Informatika,40,153,17.087445,underweight
23,SC61924,Sintiya Ristiyani,Sains Data,48,158,19.227688,normal

d. Siapa saja yang berat badannya kurang dari 60 kg

In [ ]:
# Filter DataFrame berdasarkan berat badan kurang dari 60 kg
df_19_filtered = df_19[df_19['Berat Badan (Kg)'] < 60]

# Cetak DataFrame yang sudah difilter
df_19_filtered

,No. Peserta,Nama,Jurusan,Berat Badan (Kg),Tinggi Badan (Cm),bmi,Status BMI
1,SC61902,Atthaya Layla Zhafira Hilwana,Bisnis Digital,52,168,18.424036,underweight
3,SC61904,Firda Kusumawardhani Hillal,Teknologi Informasi,49,152,21.208449,normal
5,SC61906,Marcela Anggi Puspitasari,Akuntansi,48,154,20.239501,normal
6,SC61907,Aulia Putri,Informatika,42,155,17.481790,underweight
7,SC61908,Ni Kadek Fortuna Dewi,Matematika,45,158,18.025957,underweight
8,SC61909,Rahma Aulia Agustari,Akuntansi,42,159,16.613267,underweight
9,SC61910,Shania Maharani,Akuntansi,48,156,19.723866,normal
10,SC61911,Muhammad Firzal Anugerah Perdana,Informatika,55,167,19.721037,normal
11,SC61912,Anis Naila Mashurrin,Matematika,48,160,18.750000,normal
15,SC61916,Nabila Sukma Mardeny,Sistem Informasi Kelautan,53,158,21.230572,normal
16,SC61917,Rainata Maharani,Pendidikan Akuntansi,50,162,19.051974,normal
17,SC61918,Valentin Asman Lestari,Statistika,59,160,23.046875,normal
19,SC61920,Calvin Adiwinata,Teknik Informatika,53,162,20.195092,normal
22,SC61923,Niswah Nasyithah,Informatika,40,153,17.087445,underweight
23,SC61924,Sintiya Ristiyani,Sains Data,48,158,19.227688,normal
24,SC61925,Zamzammaimatul Zalfa Laila,Matematika,48,165,17.630854,underweight

### 1.8
Tambahkan nomor urut pada dataframe df sesuai jumlah siswa dan tempatkan kolom nomor baru tersebut di paling ujung kiri sebagai kolom pertama serta beri nama kolomnya No.!

In [ ]:
# Menambahkan kolom nomor urut
df_19.insert(0, 'No.', range(1, len(df_19) + 1))

# Cetak DataFrame dengan kolom nomor urut di paling ujung kiri
df_19

,No.,No. Peserta,Nama,Jurusan,Berat Badan (Kg),Tinggi Badan (Cm),bmi,Status BMI
0,1,SC61901,Akmal Fa'iq Naufal,Teknik Elektro,60,175,19.591837,normal
1,2,SC61902,Atthaya Layla Zhafira Hilwana,Bisnis Digital,52,168,18.424036,underweight
2,3,SC61903,Dicky Fadhillah Herlambang,Fisika,64,165,23.507805,normal
3,4,SC61904,Firda Kusumawardhani Hillal,Teknologi Informasi,49,152,21.208449,normal
4,5,SC61905,Irsyad Daffa Armmawadin,Manajemen,75,178,23.671254,normal
5,6,SC61906,Marcela Anggi Puspitasari,Akuntansi,48,154,20.239501,normal
6,7,SC61907,Aulia Putri,Informatika,42,155,17.481790,underweight
7,8,SC61908,Ni Kadek Fortuna Dewi,Matematika,45,158,18.025957,underweight
8,9,SC61909,Rahma Aulia Agustari,Akuntansi,42,159,16.613267,underweight
9,10,SC61910,Shania Maharani,Akuntansi,48,156,19.723866,normal
10,11,SC61911,Muhammad Firzal Anugerah Perdana,Informatika,55,167,19.721037,normal
11,12,SC61912,Anis Naila Mashurrin,Matematika,48,160,18.750000,normal
12,13,SC61913,Diva Nabila Herisnan,Teknik Informatika,62,172,20.957274,normal
13,14,SC61914,I Made Surya Adi Palguna,Informatika,105,180,32.407407,obesity
14,15,SC61915,Made Bayu Maha Krisna Siaka,Informatika,82,172,27.717685,overweight
15,16,SC61916,Nabila Sukma Mardeny,Sistem Informasi Kelautan,53,158,21.230572,normal
16,17,SC61917,Rainata Maharani,Pendidikan Akuntansi,50,162,19.051974,normal
17,18,SC61918,Valentin Asman Lestari,Statistika,59,160,23.046875,normal
18,19,SC61919,Amin Fauzan,Kesehatan Masyarakat,70,175,22.857143,normal
19,20,SC61920,Calvin Adiwinata,Teknik Informatika,53,162,20.195092,normal
20,21,SC61921,Fitri Novita Sari,Matematika,60,160,23.437500,normal
21,22,SC61922,Masayu Rizka Arfiyunia,Sistem Informasi,75,170,25.951557,overweight
22,23,SC61923,Niswah Nasyithah,Informatika,40,153,17.087445,underweight
23,24,SC61924,Sintiya Ristiyani,Sains Data,48,158,19.227688,normal
24,25,SC61925,Zamzammaimatul Zalfa Laila,Matematika,48,165,17.630854,underweight

### 1.9
Cari nilai-nilai berikut:
a. Cari nilai terendah dan tertingginya.

In [ ]:
# Menampilkan nilai terendah dari setiap kolom
nilai_terendah = df_19.min()
print("Nilai Terendah:")
print(nilai_terendah)
print()

# Menampilkan nilai tertinggi dari setiap kolom
nilai_tertinggi = df_19.max()
print("Nilai Tertinggi:")
print(nilai_tertinggi)

Nilai Terendah:
No.                                   1
No. Peserta                     SC61901
Nama                 Akmal Fa'iq Naufal
Jurusan                       Akuntansi
Berat Badan (Kg)                     40
Tinggi Badan (Cm)                   152
bmi                           16.613267
Status BMI                       normal
dtype: object

Nilai Tertinggi:
No.                                          25
No. Peserta                             SC61925
Nama                 Zamzammaimatul Zalfa Laila
Jurusan                     Teknologi Informasi
Berat Badan (Kg)                            105
Tinggi Badan (Cm)                           180
bmi                                   32.407407
Status BMI                          underweight
dtype: object

b. Berapa nilai rata-rata tinggi badan siswa

In [ ]:
# Menghitung nilai rata-rata tinggi badan siswa
rata_rata_tinggi = df_19['Tinggi Badan (Cm)'].mean()
print(f"Rata-rata Tinggi Badan Siswa: {rata_rata_tinggi:.2f} cm")

Rata-rata Tinggi Badan Siswa: 163.76 cm

c. Berapa rata-rata berat badan siswa

In [ ]:
# Menghitung nilai rata-rata berat badan siswa
rata_rata_tinggi = df_19['Berat Badan (Kg)'].mean()
print(f"Rata-rata Berat Badan Siswa: {rata_rata_tinggi:.2f} kg")

Rata-rata Berat Badan Siswa: 57.32 kg

d. Ada berapa orang jumlah siswa  yang tercatat pada dataframe df?

In [ ]:
# Menghitung jumlah siswa dalam DataFrame
jumlah_siswa = len(df_19)

print(f"Jumlah siswa: {jumlah_siswa}")

Jumlah siswa: 25

e. 5 orang dengan nilai BMI tertinggi.

In [ ]:
# Mengambil 5 baris dengan nilai BMI tertinggi
top_5_bmi = df_19.nlargest(5, 'bmi')

print("5 orang dengan nilai BMI tertinggi:")
top_5_bmi

5 orang dengan nilai BMI tertinggi:

,No.,No. Peserta,Nama,Jurusan,Berat Badan (Kg),Tinggi Badan (Cm),bmi,Status BMI
13,14,SC61914,I Made Surya Adi Palguna,Informatika,105,180,32.407407,obesity
14,15,SC61915,Made Bayu Maha Krisna Siaka,Informatika,82,172,27.717685,overweight
21,22,SC61922,Masayu Rizka Arfiyunia,Sistem Informasi,75,170,25.951557,overweight
4,5,SC61905,Irsyad Daffa Armmawadin,Manajemen,75,178,23.671254,normal
2,3,SC61903,Dicky Fadhillah Herlambang,Fisika,64,165,23.507805,normal

f. Ada berapa orang yang tergolong status Underweight, Normal, Overweight, dan Obesity?

In [ ]:
# Menghitung jumlah siswa dalam setiap kategori BMI
jumlah_bmi = df_19['Status BMI'].value_counts()

print("Jumlah siswa dalam setiap kategori BMI:")
jumlah_bmi

Jumlah siswa dalam setiap kategori BMI:

Status BMI
normal         16
underweight     6
overweight      2
obesity         1
Name: count, dtype: int64